# HUDDLE UP API ENVIRONMENT FILES

# == BASE ==
HU_PORT=4000

# == DATABASE ==
HU_DB_USERNAME=<username>
HU_DB_PASSWORD=<pw>
HU_DB_DATABASE=<database>
HU_DB_HOST=<host>
HU_DB_PORT=<port>

# == GRAPHQL ==
HU_GRAPHQL_PLAYGROUND_ACTIVE=<true/false>
